:root {
  --primary-white-color: #ffffff;
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --background-white-color: #e5e5e5;
  --seconday-white-color: #f4f4fd;
  --pressed-color: #404bbf;
  --button-border: #e7e9fc;
}

/* -------------------------------------reset styles-------------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}
/* ------------------------------------------------------------------------------------ */
body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  letter-spacing: 0.02em;
  border: 2px;
}
/* ------------------------------------------------------------------------------------ */
.container {
  padding-top: 120px;
  padding-bottom: 120px;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* -------------------------------------Navigation section--------------------------------- */
.header-section {
  background: var(--primary-white-color);
  border-bottom: 1px solid var(--button-border);
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}
.header-list {
  display: flex;
  justify-content: space-between;
}
.nav-section {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
}
.list-link {
  display: flex;
  align-items: center;
  list-style: none;
}
.contact-section {
  margin-left: 332px;
}

.logo {
  accent-color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.end-logo {
  color: var(--title-text-color);
}
.nav-list > .nav-item:not(:last-child) {
  margin-right: 40px;
}
.nav-list a:hover,
.nav-list a:focus {
  color: var(--accent-color);
}
.nav-item {
  text-decoration: none;
  font-weight: 500;
  font-size: 16;
  line-height: 1.5;
  color: var(--title-text-color);
}
.link {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
}

.link-primary,
.link-secondary {
  display: block;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
}
.link-secondary {
  margin-left: 40px;
}
.list-link a:hover,
.list-link a:focus {
  color: var(--accent-color);
}
/*---------------------------------------- Main Section------------------------------------------ */
.hero-section {
  text-align: center;
  background: var(--title-text-color);
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/office-people.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 1440px;
  height: 600px;
  margin: 0 auto;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.hero-title {
  display: block;
  margin-bottom: 48px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}
.button {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  font-family: inherit;
  font-size: 16px;
  display: block;
  padding: 16px 32px;
  margin: 0 auto;
  line-height: 1.5;
  display: block;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
  cursor: pointer;
}
.button:hover,
.button:focus {
  display: block;
  flex-direction: row;
  align-items: flex-start;
  background: var(--pressed-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* -----------------------------------------Feutures section--------------------------------------- */

.features-section {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}
.container {
}
.visually-hidden-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.features-list {
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.features-item {
  width: calc((100% - 72px) / 4);
  flex-grow: 0;
}
.features-item::before {
  display: block;
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
}

.features-icon-box {
  box-sizing: border-box;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  background: var(--seconday-white-color);
}

.features-icon {
  height: 64px;
  width: 60px;
  margin-left: 102px;
  margin-right: 102px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.features-item:not(:last-child) {
  margin-top: 0 24px 0 0;
}
.feature-subtitle {
  color: var(--title-text-color);
  font-weight: 500;
  width: 264px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.text {
  color: var(--primary-text-color);
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*------------------------ Mission section----------------  */
.mission-section {
  padding-bottom: 120px;
}

.mission-title {
  padding-bottom: 72px;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
}
.mission-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  list-style: none;
}
.mission-list-item {
  padding-bottom: 120px;
  flex-basis: calc((100% - 2 * 24px) / 3);
  box-sizing: border-box;
  width: 360px;
  height: 300px;
}
/*--------------------------- Team section--------------- */
.team-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background: var(--primary-white-color);
  border-radius: 16px 16px 0px 0px;
  background-color: var(--seconday-white-color);
}
.team-title {
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
}
.team-list {
  display: flex;
  
  gap: 24px;
  list-style: none;
}
.team-list > .card {
  border-radius: 0px 0px 4px 4px;
}
.team-list > .card:last-child {
  margin-right: 0;
}

.card {
  display: block;
  max-width: 100%;
  height: auto;
  flex-basis: calc((100% - 3 * 24px) / 4);
  width: 264px;
}
.form-card {
  border-radius: 0px 0px 4px 4px;
  background: var(--primary-white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-subtitle {
  margin-bottom: 8px;
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.text-description {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.team-link-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 8px;
  padding-bottom: 32px;
}
.team-link-item {
  width: 40px;
  height: 40px;
}

.team-icon-box {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  background-color: var(--accent-color);
  align-items: center;
  justify-content: center;
  
}
.team-icon-box:hover,
.team-icon-box:focus {
  background-color: var(--pressed-color);
}
.team-icon {
  width: 16px;
  height: 16px;
  margin-left: 12px;
  margin-top: 12px;
}
/* ------------------------------Customers----------------- */
.Ñustomers {
  padding-top: 130px;
  padding-bottom: 120px;
}
.customers-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  gap: 24px;
}
.customers-item {
  width: 168px;
  height: 88px;
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.icon {
  fill: #8e8f99;
}
.icon:hover,
.icon:focus {
  fill: var(--pressed-color);
}
.customers-link:hover,
.customers-link:focus {
  border-color: var(--pressed-color);
}
.customers-link:hover .icon {
  fill: var(--pressed-color);
}

/* ------------------------------Footer-------------------- */
.footer-logo-section {
  
  background: var(--title-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.logo {
  display: block;
  accent-color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  text-decoration: none;
  padding-top: 0;
  padding-bottom: 0;
}
.second-logo {
  margin-bottom: 16px;
}

.footer-logo {
  color: var(--primary-white-color);
}
.text-logo {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--button-border);
}
/* --------------------------------------------second container for social-media--------- */
.footer-social-container{
  margin-left: 120px;
  width: 208px;
  height: 80px;
}
.general-container{
 
}
.footer-social-text{
  width: 96px;
  height: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-bottom: 8px;
  color: var(--primary-white-color);
}
.footer-social-list{
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 16px;
  width:208px;
}
.footer-social-item{
  width: 40px;
  height: 40px;
}
.footer-social-link{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.footer-social-icon {
  width: 24px;
  height: 24px;
  display: block;
  margin-right: 16px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: var(--seconday-white-color);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background: #31d0aa;
}

/* ------------------------portfolio---------------------- */
.nav-page-section {
  background: var(--primary-white-color);
  padding-top: 103px;
  padding-bottom: 120px;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}
.visually-hidden-work-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.nav-button-list {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 65px;
  display: flex;
  justify-content: center;
  column-gap: 24px;
  list-style: none;
}
.nav-button-list > .button-item:not(:last-child) {
  margin-right: 24px;
}

.button-item {
  justify-content: center;
  min-width: 69px;
  display: inline-block;
  padding: 12px 24px;
  box-sizing: border-box;
  background: var(--seconday-white-color);
  border: 1px solid var(--button-border);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  cursor: pointer;
}
.button-item:hover,
.button-item:focus {
  background: var(--accent-color);
  color: var(--primary-white-color);
}
.achivement-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  list-style: none;
}
.achivement-list-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
  width: 360px;
  background: var(--primary-white-color);
  

}
.form-cards {
  padding: 32px 16px;
  border: 0.5px solid var(--button-border);
  border-top: none;
  
}
.item-link {
  text-decoration: none;
  display: block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.item-link:hover,
.item-link:focus {
  
  border: 0.5px solid var(--seconday-white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.achivement-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--title-text-color);
}
.achivement-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
